"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    softWrap: true
  "exception-reporting":
    userId: "41f4809d-dc7e-9b41-dda6-875dff4c1c99"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
